* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

label {
    width: 150px;
    height: 75px;
    background-color: #212121;

    position: relative;
    /* cursor: pointer; */
    border-radius: 10px;
}

label input {
    appearance: none;
}

label span {
    display: block;
    width: 75px;
    height: 75px;
    background-color: #333;

    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid #212121;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s;
}

label input:checked ~ span {
    left: 75px;
}

input:checked {
    appearance: checked;
}